<!DOCTYPE html>
<html>
    <head>
        <title>
            ListAll
        </title>
    </head>

    <body>
        <h1>Get the list of all the Repositories to which you have contributed:- </h1>
        <div>
            <form action="/" method="post">
                <label>GitHub Username</label>
                <input type="text" id="name" name="username" required="true">
                <button type="submit">Submit</button>
            </form>
        </div>


        <div>
            <%for (let index = 0; index < repositoryList.length; index++){%> 
                <h2>name : <%=repositoryList[index][0]%></h2>
                <div>
                    <ul>
                        <li>
                            <h3> Repository's URL: <a href='<%=repositoryList[index][1]%>'> Link </a></h3>
                        </li>
                        <li>
                            <h3> Fork Count: <%=repositoryList[index][2]%></h3>
                        </li>
                        <li>
                            <h3> Star Count: <%=repositoryList[index][3]%></h3>
                        </li>
                    </ul>
                </div>
                <br>
            <%}%>
        </div>
        </body>
</html>