<!DOCTYPE html>
<html>
    <head>
        <title>
            ListAll
        </title>
    </head>

    <body>
        <h1>Get the list of all the Repositories to which you have contributed:- </h1>
        <div>
            <form action="/" method="post">
                <label>GitHub Username</label>
                <input type="text" id="name" name="userName" required="true">
                <button type="submit">Submit</button>
            </form>
        </div>


        <div>
            <%for (let i = 0; i < repositoryList.length; i++){%> 
                <h2><%=repositoryList[i].name%></h2>
                <div>
                    <ul>
                        <li>
                            <h3> Repository's URL: <a href=<%=repositoryList[i].url%>> Link </a></h3>
                        </li>
                        <li>
                            <h3> Fork Count: <%=repositoryList[i].forks%></h3>
                        </li>
                        <li>
                            <h3> Star Count: <%=repositoryList[i].stargazers_count%></h3>
                        </li>
                    </ul>
                </div>
                <br>
            <%}%>
        </div>
        </body>
</html>